<div class="flex items-end gap-6 p-4">
  <div class="flex flex-col items-center gap-2">
    <%= render(Foundation::IconComponent.new(name: "user", size: :xs)) %>
    <span class="text-xs text-gray-500">xs</span>
  </div>

  <div class="flex flex-col items-center gap-2">
    <%= render(Foundation::IconComponent.new(name: "user", size: :small)) %>
    <span class="text-xs text-gray-500">small</span>
  </div>

  <div class="flex flex-col items-center gap-2">
    <%= render(Foundation::IconComponent.new(name: "user", size: :medium)) %>
    <span class="text-xs text-gray-500">medium</span>
  </div>

  <div class="flex flex-col items-center gap-2">
    <%= render(Foundation::IconComponent.new(name: "user", size: :large)) %>
    <span class="text-xs text-gray-500">large</span>
  </div>

  <div class="flex flex-col items-center gap-2">
    <%= render(Foundation::IconComponent.new(name: "user", size: :xl)) %>
    <span class="text-xs text-gray-500">xl</span>
  </div>

  <div class="flex flex-col items-center gap-2">
    <%= render(Foundation::IconComponent.new(name: "user", size: :xxl)) %>
    <span class="text-xs text-gray-500">xxl</span>
  </div>
</div>
