<div
  class="<%= wrapper_classes %>"
  <% if show_toggle? %>
    data-controller="components--password-input"
  <% end %>
>
  <% if has_label? %>
    <label for="<%= @id %>" class="<%= label_classes %>">
      <%= @label %>

      <% if @required %>
        <span class="text-red-500 ml-0.5" aria-hidden="true">
          <%= required_indicator %>
        </span>
      <% end %>
    </label>
  <% end %>

  <div class="<%= input_wrapper_classes %>">
    <%= tag.input(**merged_input_attributes) %>

    <% if show_toggle? %>
      <button
        type="button"
        class="<%= toggle_button_classes %>"
        data-action="click->components--password-input#toggle"
        data-components--password-input-target="toggleButton"
        aria-label="<%= t_component('toggle_visibility', default: 'Toggle password visibility') %>"
        data-show-label="<%= t_component('show_password', default: 'Show password') %>"
        data-hide-label="<%= t_component('hide_password', default: 'Hide password') %>"
      >
        <span
          data-components--password-input-target="showIcon"
          class="<%= toggle_icon_classes %>"
        >
          <%= render(Foundation::IconComponent.new(name: "eye", size: :small)) %>
        </span>

        <span
          data-components--password-input-target="hideIcon"
          class="<%= toggle_icon_classes %> hidden"
        >
          <%= render(Foundation::IconComponent.new(name: "eye-slash", size: :small)) %>
        </span>
      </button>
    <% end %>
  </div>

  <% if has_hint? && !has_error? %>
    <p id="<%= hint_id %>" class="<%= hint_classes %>"><%= @hint %></p>
  <% end %>

  <% if has_error? %>
    <p id="<%= error_id %>" class="<%= error_classes %>" role="alert">
      <%= @error %>
    </p>
  <% end %>
</div>
